.section-frame{
    width:100%;
    height:100dvh;
}

.img {
  &--sm-horizontal {
    width: clamp(150px, 20vw, 350px);
    aspect-ratio: 3 / 2; // 横長
  }

  &--sm-vertical {
    height: clamp(150px, 20vw, 350px);
    aspect-ratio: 2 / 3; // 縦長
  }

  &--md-horizontal {
    width: clamp(300px, 25vw, 500px);
    aspect-ratio: 3 / 2;
  }

  &--md-vertical {
    height: clamp(300px, 25vw, 500px);
    aspect-ratio: 2 / 3;
  }

  &--lg-horizontal {
    width: clamp(350px, 30vw, 800px);
    aspect-ratio: 3 / 2;
  }

  &--lg-vertical {
    height: clamp(400px, 30vw, 800px);
    aspect-ratio: 2 / 3;
  }

  &--big-horizontal {
    width: clamp(400px, 55vw, 66rem);
    aspect-ratio: 16 / 9;
  }
  &--big-vertical {
    height: clamp(400px, 55vw, 50rem);
    aspect-ratio: 9 / 16;
  }
  &--sm-box {
    height: 15rem;
    width: 15rem;
  }
  &--md-box {
    height: 25rem;
    width: 25rem;
  }
}