.auth-button{
    width:18.75rem;
    height:3.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding:0 2rem;
    border-radius: 1rem;
    border:solid 1px black;
    transition:all 0.2s ease-in-out;

    &__arrow{
        border-radius: 100%;
        border: solid 1px black;
        width:2.5rem;
        height:2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transition:all 0.2s ease-in-out;
    }

    &:hover{
        background-color: gray;
        color:white;
        border:solid 1px gray;
        padding:0 1rem 0 2rem;
        .auth-button__arrow{
            border: solid 1px white;
        }
    }
}